// 默认值
// 主题颜色
//#9999FF 蓝紫
//#FFC8B4 橙

//#6667AB 长春花蓝
//#CAD8D8 朝白

//#6F6695 淡紫
//#361F3B 暗紫
//#F7FED5 浅蓝黄
//#DDD0C8 灰
//#FFFFFF 纯白
//#000000 纯黑

//#FAF408 国旗黄
//#FF0000 国旗红

//#5D5D63 冷色石板

$accentColor = #FFC0CB // 粉色

//$textColor = #2c3e50                        // 文本颜色
//$borderColor = #eaecef                      // 边框线颜色
//$codeBgColor = #282c34                      // 代码块背景色
//$backgroundColor = #ffffff                  // 悬浮块背景色


.navbar > .links{
	background: #21262D;
}

.navbar{
	background: #21262D;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 0.9;
}

.sidebar-group.is-sub-group > .sidebar-heading{
	font-size: 1em;
	padding-left: 35.5px;
}





